body{
    background-color: lightskyblue;
}
.weekdays{/*display: inline-block;*/

margin: auto;
padding: 4em;
}
/* ul{display: inline-block} */
li{display: inline-block;
width: 6em;
padding: 1em;}
/* .mon,.tue,.wed,.thurs,.fri,.sat,.sun {border:3px black solid;
padding: 3em;
width: fit-content;
display:inline-block;
margin: 1.4em;
background-color: white
 }; */
/* .dateone,.datetwo{padding-bottom: 3em;
background-color: red;} */
table{border: 0.5px solid black;}
input[type="date"]{
   padding: 1em;
   display: inline;
}
.blue{background-color: blue;
}
.orange{background-color: orange;
}
.red{background-color: red;
    }

.coral{background-color: coral;
}
.green{background-color: green;}
.yellow{background-color: yellow;}
.mag{background-color: magenta;}