body{
    background-color: lightskyblue;
 width: fit-content;
  
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   
}
.weekdays{/*display: inline-block;*/

margin: auto;
padding: 4em;
}
.dates{display: flex;
padding: 3em;}

/* ul{display: inline-block} */
li{display: inline-block;
width: 6em;
padding: 1em;
color:  indigo;}
/* .mon,.tue,.wed,.thurs,.fri,.sat,.sun {border:3px black solid;
padding: 3em;
width: fit-content;
display:inline-block;
margin: 1.4em;
background-color: white
 }; */
 /* .dateone,.datetwo{padding-right: 10em;
}  */
label{
   padding-right: 1.5em;
   padding-left: 1.5em;
}
input[type="date"]{
   border-radius: 5px;
   height: 2em;
color:royalblue 
   /* display: inline; */
}
.blue{background-color: blue;

}
.orange{background-color: orange;
}
.red{background-color: red;
    }

.coral{background-color: coral;
}
.green{background-color: green;
}
.yellow{background-color: yellow;}
.mag{background-color: magenta;}