body{
    background-color: lightskyblue;
 width: 180em;
    margin: 2em;
  
   padding-left: 50em;
   
}
.weekdays{/*display: inline-block;*/

margin: auto;
padding: 4em;
}
.dates{display: flex;
padding: 5px;}

/* ul{display: inline-block} */
li{display: inline-block;
width: 6em;
padding: 1em;}
/* .mon,.tue,.wed,.thurs,.fri,.sat,.sun {border:3px black solid;
padding: 3em;
width: fit-content;
display:inline-block;
margin: 1.4em;
background-color: white
 }; */
 .dateone,.datetwo{padding-right: 1.5em;
} 

input[type="date"]{
   
   height: 2em
   /* display: inline; */
}
.blue{background-color: blue;
}
.orange{background-color: orange;
}
.red{background-color: red;
   }

.coral{background-color: coral;
}
.green{background-color: green;}
.yellow{background-color: yellow;}
.mag{background-color: magenta;}